@model List<News>
@{
    ViewData["Title"] = "Раздел администратора";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/admin.css" />

<div class="content">
    <div class="content-admin">
        <div class="admin-links">
            <a asp-area="" asp-controller="NewsAdmin" asp-action="Index">Новости</a><br />
            <a asp-area="" asp-controller="GalleryAdmin" asp-action="Index">Галерея</a><br />
            <a asp-area="" asp-controller="CommentsAdmin" asp-action="Index">Отзывы</a><br />
            <a asp-area="" asp-controller="ContactsAdmin" asp-action="Index">Контакты</a><br />
            <a asp-area="" asp-controller="BookingAdmin" asp-action="Index">Заявки на бронирование</a><br />
            <a asp-area="" asp-controller="FoodAdmin" asp-action="Index">Питание</a><br />
            <a asp-area="" asp-controller="ComfortAdmin" asp-action="Index">Услуги и удобства</a>
        </div>
    </div>
</div>
