<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FourSeasons</title>
    <script type="text/javascript" src="~/js/validator.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/menu.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="body-all-container">
        <nav class="menu">
            <div class="menu-container">
                <div class="menu-hotelname-container">
                    <div class="menu-hotelname">
                        <a asp-area="" asp-controller="Admin" asp-action="Index">Раздел aдминистратора</a>
                    </div>
                </div>

                <div class="menu-list-container-admin">
                    <ul class="menu-list">
                        <li><a asp-area="" asp-controller="NewsAdmin" asp-action="Index">Новости</a></li>
                        <li><a asp-area="" asp-controller="GalleryAdmin" asp-action="Index">Галерея</a></li>
                        <li><a asp-area="" asp-controller="CommentsAdmin" asp-action="Index">Отзывы</a></li>
                        <li><a asp-area="" asp-controller="ContactsAdmin" asp-action="Index">Контакты</a></li>
                        <li><a asp-area="" asp-controller="BookingAdmin" asp-action="Index">Бронирование</a></li>
                        <li><a asp-area="" asp-controller="FoodAdmin" asp-action="Index">Питание</a></li>
                        <li><a asp-area="" asp-controller="ComfortAdmin" asp-action="Index">Услуги и удобства</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="body-content-container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - FourSeasons</p>
            </footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
