.content-admin-news {
    width: inherit;
}

.news-container {
    margin: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #d9d5d5;
    position: relative;
}

.news-container > form > input, .news-container > form > textarea {
    margin: 5px 20px;
    width: 90%;
}

.news-container > form > textarea {
    height: 100px;
    resize: none;
}

.news-container > form > input[type=submit] {
    width: 20%;
    margin-left: 775px;
    margin-bottom: 0px;
}

.news-del-btn-container {
    position: absolute;
    right: 5px;
    top: 5px;
}

.news-del-btn-container > #delete-submit {
    color: #d12121;
    font-size: 16px;
}

.news-upd-btn-container {
    position: absolute;
    bottom: 10px;
    right: 87px;
}

.news-add {
    margin: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9d5d5;
    width: 50%;
}

.news-add > p {
    text-align: center;
    padding-top: 15px;
    font-size: 18px
}

.news-add > form > input, .news-add > form > textarea {
    margin: 5px 20px;
    width: 90%;
}

.news-add > form > textarea {
    height: 200px;
    resize: none;
}

.news-add > form > input[type=submit] {
    width: 30%;
    margin-left: 380px;
    margin-bottom: 10px;
}