.content-comments {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.add-form-container {
    width: 60%;
    /*margin-left: auto;
    margin-right: auto; */
    background-color: #349D52;
}

.comments-add > p {
    padding-top : 10px;
    font-size: 16px;
    color: #ffffff;
}

.comments-add {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.comments-add > form > input, .comments-add > form > textarea {
    margin-top: 5px;
    width: 100%;
    height: 30px;
}

.comments-add > form > textarea {
    height: 200px;
    resize: none;
}

.comments-add > form > input[type=submit] {
    width: 25%;
    margin-bottom: 10px;
    height: 40px;
    margin-left: 390px;

}

.comments-title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.comments-title > p {
    text-align: center;
    font-size: 28px;
    color: #ffffff;
}

.comment-container-odd, .comment-container-even {
    margin: 10px 0px;
    background-color: #ff6a00;
}

.comments-list {
    width: 60%;
}

.comment {
    padding: 10px 10px;
}

.comment > .title > p {
    color: #ffffff;
    font-size: 13px;
    font-style: italic;
}

.comment > .text > p {
    color: #ffffff;
    font-size: 16px;
}

.comment-container-odd {
    background-color: #e6e2df;
}

.comment-container-even {
    background-color: #349D52;
}

.comment-container-odd > .comment > .title > p,
.comment-container-odd > .comment > .text > p {
    color: #333333;
}

.comments-textmessage {
    width: 60%;
    margin: 20px 0px;
}

.comments-textmessage > p {
    color: #ffffff;
    font-size: 16px;
}

.title-admin > p {
    color: #a10c0c;
    font-size: 14px;
    font-weight: 600;
}