.menu {
    width: 1200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #349D52;
}

.menu-container {
    height: inherit; 
}

.menu-hotelname-container {
    height: inherit;
    width: auto;
    float: left;
    background-color: #333333;
}

.menu-hotelname {
    height: inherit;
    padding: 12px 15px;
    width: auto;
}

.menu-hotelname > a:link, .menu-hotelname > a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.menu-hotelname > a:hover {
    color: #349D52;
}

.menu-list-container {
    height: inherit;
    margin-left: 135px;
}

.menu-list-container-admin {
    margin-left: 234px;
}

.menu-list {
    list-style-type: none;
    padding: 14px 15px;
}

.menu-list > li {
    float: left;
    padding-right: 20px;
}

.menu-list > li a:link, .menu-list > li a:visited {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.menu-list > li a:hover {
    color: #333333;
}

ul {
    display: block;
}

    ul:after {
        display: block;
        content: ' ';
        clear: both;
        float: none;
    }
    ul.submenu, ul.submenu1 {
        display: none;
        position: absolute;
        width: 170px;
        left: 580px;
        background-color: #349D52;
        z-index: 2000;
    }

    ul.submenu1 {
        left: 670px;
        width: 180px;
    }
ul.submenu > li,
ul.submenu1 > li{
    display: block;
    margin: 20px 0px;
    margin-left: -30px;
}

ul.submenu > li > a,
ul.submenu1 > li > a
{
    display: block;
    color: white;
    background-color: #349D52;
    text-decoration: none;
}

ul.submenu > li > a:hover,
ul.submenu1 > li > a:hover {
    text-decoration: none;
}
    
ul.menu-list > li:hover > ul.submenu,
ul.menu-list > li:hover > ul.submenu1 {
        display: block;
}