.content-food {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.food-title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

    .food-title > p {
        text-align: center;
        font-size: 28px;
        color: #ffffff;
    }


.food-list {
    width: 100%;
}

.category-container {
    margin: 70px 0px;
}

.parent > a:link, .parent > a:visited {
    font-size: 28px;
    color: #349D52;
    font-weight: bold;
    text-decoration: none;
}

.parent > a:hover {
    color: #ffffff;
}

.child {
    padding-left: 20px;
    margin: 20px 0px;
}

    .child > a:link, .child > a:visited {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        line-height: 30px;
    }

    .child > a:hover {
        color: #349D52;
    }

